<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>zaful bts 推荐报表管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic.min.css}" href="../static/semantic.min.css"/>
    <script th:src="@{/jquery-3.3.1.min.js}" src="../static/jquery-3.3.1.min.js"></script>
    <script th:src="@{/semantic.min.js}" src="../static/semantic.min.js"></script>
</head>
<body>
<div class="ui fixed inverted menu">
    <div class="ui container">
        <a href="#" class="header item">
            <img class="logo" th:src="@{/20190322171301.png}" src="../static/20190322171301.png"/>
             推荐位实验报表管理
        </a>
        <a href="http://bts.gw-ec.com/main" class="item" target="_blank">BTS North star</a>
    </div>
</div>
<br/>
<br/>
<div class="ui main text container">
    <table class="ui celled table">
        <thead>

        </thead>
        <tbody>
        <tr>
            <td>
                <form class="ui form" method="post" action="/zaful-rec-bts-page/add">
                    <div class="ui input">
                        <input type="text" placeholder="请输入 pc m 端 bts 实验 id" name="planId" th:required="required"/>
                    </div>
                    <input type="hidden" name="platform" value="pc"/>
                    <input class="ui green button" type="submit" value="保存"/>
                </form>
            </td>
            <td>
                <form class="ui form" method="post" action="/zaful-rec-bts-page/add">
                    <div class="ui input">
                        <input type="text" placeholder="请输入 app 端 bts 实验 id" name="planId" th:required="required"/>
                    </div>
                    <input type="hidden" name="platform" value="app"/>
                    <input class="ui green button" type="submit" value="保存"/>
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <form class="ui form" method="post" action="/zaful-rec-bts-page/remove">
                    <div class="ui input">
                        <input type="text" placeholder="请输入要删除的 pc m 端 bts 实验 id" name="planId" th:required="required"/>
                    </div>
                    <input type="hidden" name="platform" value="pc"/>
                    <input class="ui red button" type="submit" value="删除"/>
                </form>
            </td>
            <td>
                <form class="ui form" method="post" action="/zaful-rec-bts-page/remove">
                    <div class="ui input">
                        <input type="text" placeholder="请输入 app 端 bts 实验 id" name="planId" th:required="required"/>
                    </div>
                    <input type="hidden" name="platform" value="app"/>
                    <input class="ui red button" type="submit" value="删除"/>
                </form>
            </td>
        </tr>
        <tr title="已添加的实验 id">
            <td title="pc m 端推荐位实验 id"><i class="desktop icon"></i>:  &nbsp;&nbsp;<div class="ui label" th:text="${pc}">12345623423</div></td>
            <td title="app 端推荐位实验 id"><i class="mobile icon"></i>: &nbsp;&nbsp;<div class="ui label" th:text="${app}">12343543234</div></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>