<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.globalegrow.ips.mapper.pub.WebCatMapper">

	<resultMap type="com.globalegrow.ips.bean.WebCategory"
		id="webCategoryMap">
		<id column="id" property="webCateId" jdbcType="BIGINT" />
		<result column="cat_id" property="catId" jdbcType="BIGINT" />
		<result column="cat_parent_id" property="catParentId"
			jdbcType="BIGINT" />
		<result column="website_code" property="websiteCode"
			jdbcType="VARCHAR" />
		<result column="cat_name" property="catName" jdbcType="VARCHAR" />
		<result column="cat_level" property="catLevel"
			jdbcType="BIGINT" />
		<result column="category_status" property="categoryStatus"
			jdbcType="BIGINT" />
	</resultMap>

	<sql id="Base_Col_List">
		id,cat_id
		,cat_parent_id,website_code,cat_name,cat_level,category_status
	</sql>
	<select id="getWebCats" resultMap="webCategoryMap">
		select
		<include refid="Base_Col_List" />
		from public_web_category
		limit #{pstart},#{psize}
	</select>

</mapper>
